@import "../../styles/mixins";
@import "../../styles/variables";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=ABeeZee&family=Grechen+Fuemen&display=swap");

.landing {
    @include flexRowCenter;
    min-height: 98vh;
    color: whitesmoke;
    background: url("../../assets/landing-background.svg") no-repeat center
        center/cover;

    img {
        position: absolute;
        top: 7rem;
        left: 1rem;
    }

    a {
        &:visited,
        &:active {
            color: inherit;
        }
    }

    .socials {
        @include flexCol;
        align-items: center;
        justify-content: space-evenly;
        height: 60%;

        .decoration {
            @include flexRowCenter;
            width: 7rem;
            border: 1px white solid;
            transform: rotate(90deg);
            margin-top: 100px;
            margin-bottom: 100px;
        }

        .icons {
            @include flexCol;
            gap: 6rem;

            a:nth-child(2) svg {
                color: $emphasis-color;
            }
        }

        svg {
            @include setContainer(40px, 40px);
            cursor: pointer;
        }
    }

    h1 {
        font-size: 5.3125vw;
        font-weight: 400;
        font-family: "ABeeZee", sans-serif;
        margin: 0.5rem 0;
        cursor: pointer;
    }

    span {
        color: $primary-color;
    }

    h2 {
        margin: 0;
        font-size: 32px;
        font-family: "Grechen Fuemen", cursive;
        color: $emphasis-color;
        cursor: pointer;
    }

    p {
        margin-top: 0.2rem 0.2rem;
        font-family: Open Sans;
        font-style: italic;
        cursor: pointer;
    }

    button {
        font-family: inter;
        font-weight: 700;
        font-size: 1rem;
        padding: 1rem;
        border-radius: 2rem;
        border-style: none;
        color: black;
        background-color: $primary-color;
    }

    h1,
    h2,
    p {
        transition: transform 0.3s ease;

        &:hover {
            animation: riseUp 0.5s ease forwards;
        }
    }
}

@keyframes riseUp {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}
