@import "../../styles/variables";
@import "../../styles/mixins";

.landing {
    @include flexRowCenter;
    height: 98vh;
    color: whitesmoke;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../../assets/landing-background.svg");

    img {
        position: absolute;
        top: 6rem;
        left: 1rem;
    }

    .socials {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 60%;

        .decoration {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px white solid;
            transform: rotate(90deg);
            width: 10rem;
        }

        .icons {
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }

        svg {
            height: 40px;
            width: 40px;
            cursor: pointer;
        }
    }

    h1 {
        font-size: 85px;
        font-weight: 400;
        font-family: Benne;
        margin: 0.5rem 0;
        cursor: pointer;
    }

    span {
        color: $primary-color;
    }

    h2 {
        margin-top: 0.5rem;
        font-size: 32px;
        font-family: Open Sans;
        font-style: italic;
        font-weight: 700;
        color: $emphasis-color;
        cursor: pointer;
    }

    p {
        cursor: pointer;
    }

    button {
        font-family: Cormorant Upright;
        font-weight: 700;
        font-size: 26px;
        padding: 1rem;
        border-radius: 2rem;
        color: black;
        background-color: $primary-color;
        cursor: pointer;
    }
}
