@mixin setContainer($height, $width) {
    height: $height;
    width: $width;
  }
  
  @mixin setContainerFull {
    height: 100%;
    width: 100%;
  }

  @mixin flexCol {
    display: flex;
    flex-direction: column;
  }

  @mixin flexAlign {
    display: flex;
    align-items: center;
  }
  
  @mixin flexRowCenter {
    display: flex;
    align-items: center;
    justify-content: center;
  }
    
  @mixin flexColCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  @mixin strip {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
  }
  
  @mixin flip {
    transform: scaleX(-1);
  }