$header-background: #272727;
$header-CTA: #4972db;

$primary-color: #fdaf38;
$emphasis-color: #ff9f0d;
$secondary-color: whitesmoke;

$font-primary: "Open Sans", sans-serif;
$font-secondary: "Grechen Fuemen", cursive;
$font-tertiary: "ABeeZee", sans-serif;
