@import "../../styles/mixins";
@import "../../styles/variables";

.about {
    height: 98vh;

    color: white;
    background-image: url("../../assets/landing-background.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    header {
        display: flex;
        align-items: center;

        .decoration {
            width: 10rem;
            border: 1px white solid;
            margin: 0 10px 0 0;
        }

        h1 {
            font-size: 26px;
            font-family: Cutive;
            font-weight: 400;

            span {
                color: #dcca87;
            }
        }
    }

    h2 {
        margin: 0.5rem 0;
        font-size: 50px;
        font-family: Open Sans;
        font-weight: 700;
        span {
            color: $primary-color;
        }
    }

    p {
        text-align: justify;
        width: 19%;
        font-size: 20px;
        line-height: 35px;
        letter-spacing: 0.8px;

        span {
            color: $primary-color;
        }
    }
}
