@import "../../styles/variables";

.navigation {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem 1rem 0rem 0rem;
    color: white;
    background-color: #272727;

    ul {
        display: flex;
        gap: 1rem;
        list-style: none;
    }

    .actions {
        margin-right: 3rem;
    }
}
