@import "../../styles/variables";

.navigation {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem 1rem 0rem 0rem;
    color: white;
    background-color: #272727;

    ul {
        padding: 2;
        display: flex;
        gap: 2rem;
        list-style: none;
        align-items: center;
    }

    li {
        transition: background-color 0.3s ease;

        &:hover,
        &:focus-within {
            background-color: rgba(255, 255, 255, 0.1);
            border-radius: 0.5rem;
        }
    }

    .actions {
        margin-right: 2rem;

        ul {
            gap: 1.5rem;
        }
    }

    a {
        color: inherit;
        text-decoration: none;
        display: flex;
        align-items: center;
        padding: 0.5rem;
        border-radius: 0.5rem;
        transition: background-color 0.3s, transform 0.3s ease;

        &:hover,
        &:focus {
            background-color: rgba(255, 255, 255, 0.1);
            transform: translateY(-2px);
            cursor: pointer;
            outline: none;
        }

        &:focus-visible {
            box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
        }
    }
}
